[Unit]
Description=Uptime-Kuma - A free and open source uptime monitoring solution
Documentation=https://github.com/louislam/uptime-kuma
After=network.target

[Service]
Type=simple
User={{ kuma_username }}
WorkingDirectory={{ kuma_app_dir }}
ExecStart={{ kuma_pm2_binpath }} start server/server.js --name uptime-kuma --no-daemon
ExecReload={{ kuma_pm2_binpath }} reload uptime-kuma
ExecStop={{ kuma_pm2_binpath }} stop uptime-kuma
Restart=on-failure
Environment=PM2_HOME={{ kuma_homedir }}/.pm2

[Install]
WantedBy=multi-user.target